<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect/"
        layout:decorate="~{layout}">
<head>
    <title>Book List</title>
</head>
<body layout:fragment="body">
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Book list</h1>
            <p class="lead fw-normal text-white-50 mb-0">View, add, change or delete books</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="book :${books}" th:id="${book.id}" class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" th:src="${book.imageUrl}" alt="..."/>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 th:text="${book.title}" class="fw-bolder">Book Title</h5>
                            <div th:text="${book.author}">Author</div>
                            <div th:text="${book.publishYear}">Publish Year</div>
                            <div class="mt-2">ISBN:</div>
                            <div th:text="${book.isbn}">ISBN</div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto"
                               th:href="@{/edit-book/{bookId} (bookId=${book.id})}">Change details</a>
                            <a class="btn btn-outline-dark mt-auto"
                               th:href="@{/delete-book/{bookId} (bookId=${book.id})}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>